@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(to right, #ff4c30, #ff6830, #fff, #f3806f);
  background-size: 300% 100%;
}
.banner-img {
  background-image: url('/images/banner_image.png');
  background-position: top right;
  background-repeat: no-repeat;
}
.cta-container {
  background-image: url('/images/cta.png');
  background-position: top right;
  background-repeat: no-repeat;
}
.app-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}
.app-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .section-7 {
  background-image: url('/images/app.png');
  background-position: top right;
  background-repeat: no-repeat;
} */

@media (max-width: 500px) {
  .cta-container {
    background-size: cover;
  }
}

/* 
 book ride button: linear-gradient(to right,#ff4c30,#ff6830,#fff,#f3806f);
     		  background-size: 300% 100%;
 black button: #161616;
 'big' color: #ff4d30;
 active nav, quotes, faqs, scrolltop: #FF4C30;
 search btn: background: linear-gradient(-36deg,#ff4c30 0,#ff6830 100%);
 all button shadows: box-shadow: 0 10px 15px rgba(255,83,48,.35);
 slickdots: #ff6f1e,
 inactivedot: #bbb6cb;
 section1: #f8f8f8;
 saveBigBg: #2d2d2d;
 testimonialsbg: ##f9f9f9; */
